@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap');

.body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #1B1A17;
    line-height: 1.143;
    background: #fff;
} 
 
.site-container {
    max-width: 1366px;
    margin: 0 auto; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
