*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a[class], a:not([class]) {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    cursor: pointer;
}

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    border: none;
    background: transparent;
    box-shadow: none;
}

button, input[type="submit"] {
    display: inline-flex;
    cursor: pointer;
}



p, h1, h2, h3, h4 {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

ul {
    list-style-type: none;
}

li {
    display: inline-flex;
}

img, svg {
    max-width: 100%;
    height: auto;
    display: block;
}